$black: #252525;
$white: #ffffff;
$d: #ddd;
$e: #eee;
$blue: #3dc1d3;
$purple: #f985de;
$blackFaded: rgba(41, 41, 41, 0.2);
$whiteLite: #e1e8ee;
$liteGray: #E1DFE0;
$darkGray: #474A59;
$hoverGray: #e9ecef;
