a {
    position: relative;
    text-decoration: none;

    &.hoverEffect {
        &::before {
            content: '';
            position: absolute;
            background: rgba($pink, .8);
            @include _transform($top: '', $left: 0, $bottom: 0, $right: '', $t_x: 0, $t_y: 1vh, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: 0, $height: .35vh);
            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
        }

        &:hover {
            &::before {
                @include _dimensions($width: 100%, $height: .35vh);
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.pink_dot {
    color: $purple;
}

form {
    ._formGroup {
        position: relative;
        @include _dimensions($width: '', $height: 100%);

        ._formLabel {
            position: relative;
            @include _dimensions($width: '', $height: 100%);
            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

            ._formControl {
                outline: none;
                box-shadow: none;
                margin: 0;
                padding: 1vh;
                @include _dimensions($width: '', $height: 7vh);
                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
            }

            textarea._formControl {
                resize: none;
                @include _dimensions($width: '', $height: 100%);
            }

            .form-text {
                position: absolute;
                margin: 0 .75vh;
                padding: .75vh;
                @include _transform($top: '', $left: '', $bottom: 3.5vh, $right: 2.75vh, $t_x: 0, $t_y: 50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                &.toClear,
                &.messageClear {
                    @include _transform($top: '', $left: '', $bottom: 3.5vh, $right: 0, $t_x: 0, $t_y: 50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                }
            }

            ._formClear {
                position: absolute;
                cursor: pointer;
                border-radius: 100%;
                @include _transform($top: '', $left: '', $bottom: 3.5vh, $right: 1vh, $t_x: 0, $t_y: 50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                @include _dimensions($width: 2vh, $height: 2vh);
                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                &._messageInput {
                    @include _transform($top: 1vh, $left: '', $bottom: '', $right: 1vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                }

                &::after {
                    content: '';
                    box-sizing: border-box;
                    position: absolute;
                    display: block;
                    transform-origin: center;
                    background: $black;
                    @include _dimensions($width: 100%, $height: .5vh);
                    @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 45deg, $s_x: 1, $s_y: 1);
                    @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                }

                &::before {
                    content: '';
                    box-sizing: border-box;
                    position: absolute;
                    display: block;
                    transform-origin: center;
                    background: $black;
                    @include _dimensions($width: 100%, $height: .5vh);
                    @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: -45deg, $s_x: 1, $s_y: 1);
                    @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                }
            }

            label {
                padding: 0 1vh;
                opacity: .9;
                font-size: 2vh;
                @include _transform($top: 3.5vh, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                @include _dimensions($width: unset, $height: unset);
                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
            }

            &>._formControl:focus~label,
            &>._formControl:not(:placeholder-shown)~label,
            &>._formControl-plaintext~label,
            &>.form-select~label {
                line-height: 2vh;
                @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -25%, $r_deg: 0, $s_x: .85, $s_y: .85);
            }
        }

        &::before {
            position: absolute;
            content: '';
            background: rgba($pink, .8);
            z-index: 1;
            @include _transform($top: 100%, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -100%, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: 10vh, $height: .25vh);
            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
        }

        &.focused {
            &::before {
                @include _dimensions($width: 100%, $height: .25vh);
            }
        }

        &._checkGroup {
            &::before {
                display: none;
            }

            ._formLabel {
                ._formSwitch {
                    padding: 0;
                }

                ._formCheckbox,
                ._formSwitch {
                    @include _dimensions($width: 100%, $height: 100%);

                    input {
                        cursor: pointer;
                        margin: calc(3.5vh - .5em) 0;
                    }
                }

                label {
                    @include _transform($top: '', $left: 3em, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                }

                &Checkbox {
                    label {
                        @include _transform($top: '', $left: 2em, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                    }
                }

                .badge {
                    position: absolute;
                    @include _transform($top: 50%, $left: '', $bottom: '', $right: 0, $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                }
            }
        }
    }

    .btn {
        position: relative;
        margin: 0;
        border: none;
        background: transparent !important;
        text-transform: none;
        font-size: 2vh;
        font-weight: 600;
        box-shadow: 0 0 0 0 adjust-hue($black, 45deg);
        z-index: 1;
        @include _dimensions($width: '', $height: 7vh);
        @include _transitions($property: '', $duration: .25s, $timing: '', $delay: '');

        &::before {
            content: '';
            position: absolute;
            color: $white;
            background: $black;
            @include _transitions($property: '', $duration: .25s, $timing: '', $delay: '');
            @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: 0, $height: 100%);
        }

        .buttonBorders {
            position: absolute;
            border: .1vh solid rgba($color: $white, $alpha: .25);
            background: none;
            @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: 100%, $height: 100%);
            @include _transitions($property: '', $duration: .75s, $timing: ease, $delay: '');

            .borderTop,
            .borderRight,
            .borderBottom,
            .borderLeft {
                position: absolute;
                background: $black;
            }

            .borderTop,
            .borderBottom {
                @include _dimensions($width: 100%, $height: .1vh);
            }

            .borderLeft,
            .borderRight {
                @include _dimensions($width: .1vh, $height: 100%);
            }

            .borderTop {
                transform-origin: left;
                @include _transform($top: 0, $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 0, $s_y: 1);
            }

            .borderRight {
                transform-origin: top;
                @include _transform($top: '', $left: '', $bottom: '', $right: 0, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 0);
            }

            .borderBottom {
                transform-origin: right;
                @include _transform($top: '', $left: '', $bottom: 0, $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 0, $s_y: 1);
            }

            .borderLeft {
                transform-origin: bottom;
                @include _transform($top: '', $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 0);
            }

            // when unhover
            .borderTop {
                @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .45s);
            }

            .borderRight {
                @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .30s);
            }

            .borderBottom {
                @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .15s);
            }

            .borderLeft {
                @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: 0s);
            }
        }

        span {
            position: absolute;
            z-index: 1;
            @include _transitions($property: '', $duration: .1s, $timing: '', $delay: '');
            @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: max-content, $height: max-content);
        }

        &:hover {
            border: none;
            background: transparent !important;
            color: $white !important;
            box-shadow: 0 0 0 2vh transparent;

            &::before {
                @include _dimensions($width: 100%, $height: 100%);
            }

            .buttonBorders {
                border: .1vh solid $black !important;

                .borderTop,
                .borderRight,
                .borderBottom,
                .borderLeft {
                    background: $black;
                }
            }
        }

        &.inverse {
            color: rgba($color: $black, $alpha: .5);

            .buttonBorders {
                border: .1vh solid rgba($color: $black, $alpha: .5);
            }
        }
    }

    &:hover {
        .btn {
            color: $black;

            .buttonBorders {
                border: .1vh solid $black;

                .borderTop,
                .borderBottom,
                .borderLeft,
                .borderRight {
                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                }

                // when hover
                .borderTop {
                    @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: 0s);
                }

                .borderRight {
                    @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .15s);
                }

                .borderBottom {
                    @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .30s);
                }

                .borderLeft {
                    @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .45s);
                }
            }
        }
    }
}

.card {
    @include _transitions($property: '', $duration: .75s, $timing: ease, $delay: '');

    &>.borderTop,
    &>.borderRight,
    &>.borderBottom,
    &>.borderLeft {
        position: absolute;
        background: $black;
        z-index: 1;
    }

    &>.borderTop,
    &>.borderBottom {
        @include _dimensions($width: calc(100% - 4vh), $height: 2vh);
    }

    &>.borderLeft,
    &>.borderRight {
        @include _dimensions($width: 2vh, $height: calc(100% - 4vh));
    }

    &>.borderTop {
        transform-origin: left;
        @include _transform($top: 2vh, $left: 2vh, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 0, $s_y: 1);
    }

    &>.borderRight {
        transform-origin: top;
        @include _transform($top: 2vh, $left: '', $bottom: '', $right: 2vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 0);
    }

    &>.borderBottom {
        transform-origin: right;
        @include _transform($top: '', $left: '', $bottom: 2vh, $right: 2vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 0, $s_y: 1);
    }

    &>.borderLeft {
        transform-origin: bottom;
        @include _transform($top: '', $left: 2vh, $bottom: 2vh, $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 0);
    }

    // when unhover
    &>.borderTop {
        @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .45s);
    }

    &>.borderRight {
        @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .30s);
    }

    &>.borderBottom {
        @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .15s);
    }

    &>.borderLeft {
        @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: 0s);
    }

    &-body {
        box-shadow: 0 0 0 0 adjust-hue($black, 45deg);
        @include _transitions($property: '', $duration: .5s, $timing: '', $delay: '');
    }

    &:hover {

        .borderTop,
        .borderBottom,
        .borderLeft,
        .borderRight {
            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
        }

        // when hover
        .borderTop {
            @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: 0s);
        }

        .borderRight {
            @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .15s);
        }

        .borderBottom {
            @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .30s);
        }

        .borderLeft {
            @include _transitions($property: '', $duration: .15s, $timing: ease-in-out, $delay: .45s);
        }

        .card-body:not(.no-shadow) {
            box-shadow: 0 0 0 2vh transparent;
        }
    }
}

.modal {
    .modal-dialog {
        border-radius: 0;

        .modal-content {
            border-radius: 0;

            .modal-header {
                padding: 4vh 4vh 2vh 4vh;
                border: 0;
                border-radius: inherit;

                .btn-close {
                    position: relative;

                    &::after {
                        content: 'ESC';
                        position: absolute;
                        color: rgba($color: $black, $alpha: .5);
                        font-size: x-small;
                        @include _transform($top: 100%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -25%, $r_deg: 0, $s_x: 1, $s_y: 1)
                    }
                }
            }

            .modal-body {
                padding: 4vh;
                border: 0;
                border-radius: inherit;
            }

            .modal-footer {
                position: relative;
                padding: calc(var(--bs-modal-padding) - var(--bs-modal-footer-gap) * 0.5);
                border: 0;
                border-radius: inherit;

                svg {
                    position: absolute;
                    color: rgba($color: $pink, $alpha: .2);
                    @include _dimensions($width: 25%, $height: 200%);
                    @include _transform($top: 50%, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: -30deg, $s_x: 1, $s_y: 1);
                }

                form {
                    @include _dimensions($width: 100%, $height: '');

                    .btn {
                        @include _dimensions($width: 25%, $height: '');
                    }
                }
            }

            &::before {
                content: '';
                position: absolute;
                background: $pink;
                @include _dimensions($width: 100%, $height: 1.5vh);
                @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -100%, $r_deg: 0, $s_x: 1, $s_y: 1);
            }
        }
    }

    &._blogModal {
        z-index: 1061;

        .modal-dialog {
            max-width: 85%;

            .modal-content {
                background: hsl(0, 0%, 90%);

                .modal-header {
                    padding: 2vh 4vh;

                    .modal-title {
                        * {
                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                        }

                        &>.dropdown {
                            margin: 0;

                            &>.dropdown-toggle {
                                cursor: pointer;

                                span {
                                    position: relative;
                                    fill: $black;
                                    stroke: $black;
                                    color: $black;
                                    padding: 1.25vh;
                                    background: $white;
                                    @include _dimensions($width: 7vh, $height: 7vh);

                                    svg {
                                        font-size: 2.5vh;
                                    }
                                }

                                &::after {
                                    display: none;
                                }
                            }

                            .dropdown-menu {
                                box-shadow: 1.25vh 1.25vh 4.5vh -2.5vh rgba($black, .5);
                                margin: 0;
                                @include _transform($top: 7vh, $left: 0, $bottom: unset, $right: unset, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                                form {
                                    @include _dimensions($width: 54vh, $height: '');

                                    &>.dropdown-item {
                                        padding: 0;

                                        .dropend {
                                            .dropdown-toggle {
                                                cursor: pointer;

                                                span {
                                                    padding: 1vh 2vh;

                                                    svg {
                                                        font-size: 2vh;
                                                        color: rgba($black, .25);
                                                    }

                                                    p {
                                                        margin: 0 1.25vh 0 auto;
                                                        font-size: small;
                                                        color: rgba($black, .25);
                                                    }
                                                }

                                                &::after {
                                                    display: none;
                                                }
                                            }

                                            .dropdown-menu {
                                                @include _transform($top: 0, $left: 100%, $bottom: unset, $right: unset, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);

                                                .dropdown-item {
                                                    cursor: default;

                                                    ._checkGroup {
                                                        ._formLabel {

                                                            ._formSwitch,
                                                            ._formCheckbox {
                                                                .form-check-input {
                                                                    margin: 0;
                                                                    vertical-align: middle;
                                                                }
                                                            }

                                                            label {
                                                                @include _transform($top: 50%, $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }

                                        &:last-of-type {
                                            background: transparent !important;

                                            &>._formGroup {
                                                margin: 0 auto;
                                                @include _dimensions($width: 50vh, $height: '');

                                                ._formLabel {
                                                    position: relative;

                                                    svg {
                                                        position: absolute;
                                                        font-size: 2vh;
                                                        color: rgba($black, .25);
                                                        @include _transform($top: 50%, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                                    }

                                                    input {
                                                        margin: 0;
                                                    }

                                                    label {
                                                        @include _transform($top: '', $left: 1vh, $bottom: '', $right: '', $t_x: '', $t_y: '', $r_deg: '', $s_x: '', $s_y: '');
                                                        color: rgba($black, .25);
                                                    }
                                                }

                                                .list-group {
                                                    overflow-y: auto;
                                                    max-height: 46vh;
                                                    background: $white;
                                                    margin: 0 -2vh;
                                                    padding: 0;
                                                    @include _dimensions($width: calc(100% + 4vh), $height: '');

                                                    &-item {
                                                        position: relative;
                                                        margin: 0;
                                                        padding: 1vh 2vh;
                                                        font-size: .9rem;
                                                        font-weight: 400;
                                                        line-height: 1.25;
                                                        cursor: pointer;
                                                        @include _dimensions($width: 100%, $height: 5.75vh);

                                                        svg {
                                                            font-size: 2vh;
                                                            color: rgba($black, .25);
                                                        }

                                                        &:hover {
                                                            background: $hoverGray;
                                                        }
                                                    }
                                                }

                                                &::before {
                                                    @include _transform($top: 7vh, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &>form {
                            margin: 0 0 0 1.25vh;
                            background: $white;
                            @include _dimensions($width: 50vh, $height: 7vh);

                            ._formGroup {
                                z-index: 10000;

                                .list-group {
                                    overflow-y: auto;
                                    max-height: 46vh;
                                    background: $white;
                                    margin: 0;
                                    padding: 0;
                                    box-shadow: 1.25vh 1.25vh 4.5vh -2.5vh rgba($black, .5);
                                    @include _dimensions($width: 100%, $height: '');

                                    &-item {
                                        position: relative;
                                        margin: 0;
                                        padding: 1vh 2vh;
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.25;
                                        cursor: pointer;
                                        @include _dimensions($width: 100%, $height: 5.75vh);

                                        svg {
                                            font-size: 2vh;
                                            color: rgba($black, .25);
                                        }

                                        &:hover {
                                            background: $hoverGray;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .modal-body {
                    z-index: 1;
                    padding: 2vh 4vh;

                    h1 {
                        font-family: 'Abril Fatface', cursive;
                        font-size: 4rem;
                        font-weight: 500;
                        color: $black;
                        white-space: nowrap;
                        text-align: center;
                        margin: 0;
                    }

                    ._page {
                        grid-template-rows: repeat(2, 60vh);
                        @include _dimensions($width: 90%, $height: '');

                        .card {
                            background: none;
                            margin: 0;
                            padding: 2vh;
                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                            &-body {
                                position: relative;
                                border: 2vh solid lighten($color: $purple, $amount: 20);
                                background: $white;
                                backdrop-filter: blur(2vh);
                                padding: 2vh;
                                overflow: hidden;
                                @include _dimensions($width: 100%, $height: 100%);

                                figure {
                                    position: relative;
                                    margin: -4vh 0 0 -4vh;
                                    border: 0;
                                    @include _dimensions($width: calc(100% + 8vh), $height: 20vh);

                                    img {
                                        object-fit: cover;
                                        object-position: top;
                                        @include _dimensions($width: 100%, $height: 100%);
                                    }
                                }

                                .author {
                                    text-align: -webkit-left;
                                    font-size: 1.5vh;
                                    margin: 1.25vh 0 0 0;
                                }

                                h4 {
                                    color: $black;
                                    text-align: -webkit-left;
                                    letter-spacing: 0;
                                    position: relative;
                                    margin: 0;
                                    overflow-x: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    z-index: 10;
                                    @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                }

                                .category {
                                    font-size: 2vh;
                                    color: $black;
                                    border: .15vh solid $black;
                                    padding: .5vh 1.25vh;
                                    margin: 0;
                                    @include _dimensions($width: fit-content, $height: fit-content);
                                }

                                .tags {
                                    margin-bottom: 0 !important;
                                    padding-top: .25vh;
                                    display: flex;
                                    flex-direction: initial;
                                    align-items: flex-start;
                                    flex: auto;
                                    overflow-x: hidden;

                                    li {
                                        font-size: 1.5vh;
                                        border: .15vh solid $d;
                                        background: $e;
                                        display: inline-block;
                                        padding: .75vh;
                                        margin: 0 .75vh;
                                        border-radius: .75vh;
                                        height: fit-content;
                                    }
                                }

                                [data-am-linearrow] {
                                    position: relative;
                                    padding: 2vh;
                                    cursor: pointer;
                                    box-sizing: content-box;
                                    @include _dimensions($width: calc((($arrow-width * 2) - $arrow-height)), $height: $arrow-height);

                                    .line {
                                        position: absolute;
                                        margin: calc(-1 * ($arrow-height / 2)) 0 0 0;
                                        background-color: $black;
                                        @include _transform($top: 50%, $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        @include _dimensions($width: $arrow-width, $height: $arrow-height);
                                        @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                    }

                                    .line-1 {
                                        @include _transform($top: '', $left: 2vh, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }

                                    .line-2 {
                                        @include _transform($top: '', $left: '', $bottom: '', $right: 2vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }

                                    &:hover,
                                    &:focus {
                                        background: none;

                                        .line-1 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: $arrow-angle, $s_x: 1, $s_y: 1);
                                        }

                                        .line-2 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: -($arrow-angle), $s_x: 1, $s_y: 1);
                                        }
                                    }

                                    &:focus {
                                        outline: none;

                                        .line {
                                            background-color: darken($black, 20%);
                                        }
                                    }
                                }

                                [data-am-linearrow~='inverted'] {

                                    &:hover,
                                    &:focus {
                                        .line-1 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: -($arrow-angle), $s_x: 1, $s_y: 1);
                                        }

                                        .line-2 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: $arrow-angle, $s_x: 1, $s_y: 1);
                                        }
                                    }
                                }

                                [data-am-linearrow~='tooltip'] {
                                    &::after {
                                        position: absolute;
                                        content: attr(display-name);
                                        font-size: 1.6vh;
                                        white-space: nowrap;
                                        opacity: 0;
                                        color: $black;
                                        @include _transform($top: '', $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                    }

                                    &:hover,
                                    &:focus {
                                        &::after {
                                            opacity: 1;
                                        }
                                    }

                                    &:focus {
                                        &::after {
                                            color: darken($black, 20%);
                                        }
                                    }
                                }

                                [data-am-linearrow~='tooltip-bottom'] {
                                    &::after {
                                        @include _transform($top: 100%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }
                                }

                                ._footerInformation {
                                    padding: 2vh;
                                    background: hsl(0, 0%, 97%);
                                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: -2vh, $t_y: 2vh, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    @include _dimensions($width: calc(100% + 4vh), $height: 6vh);

                                    p {
                                        margin: 0;
                                    }

                                    ._views {
                                        text-align: -webkit-left;
                                        font-size: 1.5vh;
                                        flex: 1;

                                        svg {
                                            padding: 0 0 0 .5vh;
                                        }
                                    }

                                    ._upvotes,
                                    ._downvotes,
                                    ._comments {
                                        text-align: -webkit-right;
                                        font-size: 1.6vh;
                                        margin: 0 0 0 2.5vh;

                                        svg {
                                            padding: 0 0 0 .5vh;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ._pageNumbers {
                        list-style: none;

                        li {
                            position: relative;
                            display: block;
                            opacity: .2;
                            margin: .5vh;
                            border-radius: 2.5vh;
                            background: $black;
                            cursor: pointer;
                            @include _dimensions($width: 2.5vh, $height: 2.5vh);
                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                            &.current {
                                opacity: 1;
                                background: $blue;
                                box-shadow: 0 0 3.25vh rgba($blue, .3);
                                @include _dimensions($width: 5vh, $height: '');
                            }
                        }
                    }
                }

                .modal-footer {
                    padding: 4vh;

                    div {
                        color: $black;
                        opacity: .75;
                        font-size: smaller;
                    }
                }

                ._shadowIndex {
                    position: absolute;
                    opacity: .25;
                    margin: 0;
                    font-size: 20vh;
                    line-height: 20vh;
                    font-family: 'Abril Fatface', cursive;
                    font-weight: bold;
                    color: lighten($color: $blue, $amount: 2);
                    @include _transform($top: 100%, $left: 50%, $bottom: '', $right: '', $t_x: -100%, $t_y: -100%, $r_deg: 0, $s_x: 1, $s_y: 1);
                    @include _dimensions($width: fit-content, $height: fit-content);

                    p {
                        margin: 0;
                    }
                }
            }
        }
    }

    &._searchModal {
        .modal-dialog {
            .modal-content {
                position: relative;
                background: lighten($color: $blue, $amount: 10);
                opacity: 0.95;

                .modal-header {
                    padding: 0 4vh;
                    @include _dimensions($width: '', $height: 10vh);
                }

                .modal-body {
                    padding: 0.75vh 4vh;

                    ._page {
                        grid-template-rows: repeat(1, 55vh);
                        @include _dimensions($width: 90%, $height: '');

                        .card {
                            background: none;
                            margin: 0;
                            padding: 0 2vh;
                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                            &-body {
                                position: relative;
                                border: 2vh solid lighten($color: $purple, $amount: 20);
                                background: $white;
                                backdrop-filter: blur(2vh);
                                padding: 2vh;
                                overflow: hidden;
                                @include _dimensions($width: 100%, $height: 100%);

                                figure {
                                    position: relative;
                                    margin: -4vh 0 0 -4vh;
                                    border: 0;
                                    @include _dimensions($width: calc(100% + 8vh), $height: 20vh);

                                    img {
                                        object-fit: cover;
                                        object-position: top;
                                        @include _dimensions($width: 100%, $height: 100%);
                                    }
                                }

                                .author {
                                    text-align: -webkit-left;
                                    font-size: 1.5vh;
                                    margin: 1.25vh 0 0 0;
                                }

                                h4 {
                                    color: $black;
                                    text-align: -webkit-left;
                                    letter-spacing: 0;
                                    position: relative;
                                    margin: 0;
                                    overflow-x: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    z-index: 10;
                                    @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                }

                                .category {
                                    font-size: 2vh;
                                    color: $black;
                                    border: 0.15vh solid $black;
                                    padding: 0.5vh 1.25vh;
                                    margin: 0;
                                    @include _dimensions($width: fit-content, $height: fit-content);
                                }

                                .tags {
                                    margin-bottom: 0 !important;
                                    padding-top: 0.25vh;
                                    display: flex;
                                    flex-direction: initial;
                                    align-items: flex-start;
                                    flex: auto;
                                    overflow-x: hidden;

                                    li {
                                        font-size: 1.5vh;
                                        border: 0.15vh solid $d;
                                        background: $e;
                                        display: inline-block;
                                        padding: 0.75vh;
                                        margin: 0 0.75vh;
                                        border-radius: 0.75vh;
                                        height: fit-content;
                                    }
                                }

                                [data-am-linearrow] {
                                    position: relative;
                                    padding: 2vh;
                                    cursor: pointer;
                                    box-sizing: content-box;
                                    @include _dimensions($width: calc((($arrow-width * 2) - $arrow-height)), $height: $arrow-height);

                                    .line {
                                        position: absolute;
                                        margin: calc(-1 * ($arrow-height / 2)) 0 0 0;
                                        background-color: $black;
                                        @include _transform($top: 50%, $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        @include _dimensions($width: $arrow-width, $height: $arrow-height);
                                        @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                    }

                                    .line-1 {
                                        @include _transform($top: '', $left: 2vh, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }

                                    .line-2 {
                                        @include _transform($top: '', $left: '', $bottom: '', $right: 2vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }

                                    &:hover,
                                    &:focus {
                                        background: none;

                                        .line-1 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: $arrow-angle, $s_x: 1, $s_y: 1);
                                        }

                                        .line-2 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: - ($arrow-angle, ), $s_x: 1, $s_y: 1);
                                        }
                                    }

                                    &:focus {
                                        outline: none;

                                        .line {
                                            background-color: darken($black, 20%);
                                        }
                                    }
                                }

                                [data-am-linearrow~='inverted'] {

                                    &:hover,
                                    &:focus {
                                        .line-1 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: - ($arrow-angle, ), $s_x: 1, $s_y: 1);
                                        }

                                        .line-2 {
                                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: $arrow-angle, $s_x: 1, $s_y: 1);
                                        }
                                    }
                                }

                                [data-am-linearrow~='tooltip'] {
                                    &::after {
                                        position: absolute;
                                        content: attr(display-name);
                                        font-size: 1.6vh;
                                        white-space: nowrap;
                                        opacity: 0;
                                        color: $black;
                                        @include _transform($top: '', $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                    }

                                    &:hover,
                                    &:focus {
                                        &::after {
                                            opacity: 1;
                                        }
                                    }

                                    &:focus {
                                        &::after {
                                            color: darken($black, 20%);
                                        }
                                    }
                                }

                                [data-am-linearrow~='tooltip-bottom'] {
                                    &::after {
                                        @include _transform($top: 100%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }
                                }

                                ._footerInformation {
                                    padding: 2vh;
                                    background: hsl(0, 0%, 97%);
                                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: -2vh, $t_y: 2vh, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    @include _dimensions($width: calc(100% + 4vh), $height: 6vh);

                                    p {
                                        margin: 0;
                                    }

                                    ._views {
                                        text-align: -webkit-left;
                                        font-size: 1.5vh;
                                        flex: 1;

                                        svg {
                                            padding: 0 0 0 0.5vh;
                                        }
                                    }

                                    ._upvotes,
                                    ._downvotes,
                                    ._comments {
                                        text-align: -webkit-right;
                                        font-size: 1.6vh;
                                        margin: 0 0 0 2.5vh;

                                        svg {
                                            padding: 0 0 0 0.5vh;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    ._pageNumbers {
                        list-style: none;
                        padding: 0.75vh 0;

                        li {
                            position: relative;
                            display: block;
                            opacity: 0.8;
                            margin: 0.5vh;
                            border-radius: 2.5vh;
                            background: $black;
                            cursor: pointer;
                            @include _dimensions($width: 2.5vh, $height: 2.5vh);
                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                            &.current {
                                opacity: 1;
                                background: $pink;
                                box-shadow: 0 0 3.25vh rgba($blue, 0.3);
                                @include _dimensions($width: 5vh, $height: '');
                            }
                        }
                    }

                    ._suggestions {
                        padding: 0 2vh;
                        color: $white;
                        @include _dimensions($width: 90%, $height: 18vh);

                        .togglebtn {
                            text-decoration: underline;
                        }

                        .tags {
                            margin-bottom: 0 !important;
                            display: flex;
                            flex-wrap: wrap;
                            flex-direction: initial;
                            align-items: flex-start;
                            margin-top: 1.25vh;
                            flex: auto;

                            li {
                                cursor: pointer;
                                font-size: 1.5vh;
                                border: 0.15vh solid $d;
                                background: $e;
                                display: inline-block;
                                padding: 0.5vh;
                                margin: 0.5vh;
                                border-radius: 0.5vh;
                                height: fit-content;
                            }
                        }
                    }
                }

                .modal-footer {
                    padding: 0 4vh 2vh 4vh;

                    div {
                        color: $black;
                        opacity: 0.75;
                        font-size: smaller;
                    }
                }

                &::before {
                    display: none;
                }
            }
        }
    }
}

.grid {
    gap: var(--bs-gap, 1vh);
}

.row {
    .col {
        padding: 0;
    }
}
