header {
    position: fixed;
    z-index: 1060;
    @include _dimensions($width: 100%, $height: '');
    @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);

    nav {
        padding: 0;

        .container-fluid {
            flex-wrap: unset;

            .navbar-toggler {
                padding: 0;
                border: none;

                .hamburger {
                    fill: $black;
                    stroke: $black;
                    color: $black;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    border: none;
                    @include _dimensions($width: 10vh, $height: 10vh);
                    @extend %transition_holder;

                    svg {
                        filter: drop-shadow(.33vh .33vh 1.5vh rgba($black, .2));
                        z-index: 999;
                        @include _dimensions($width: 100%, $height: auto);

                        g {
                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: -25%, $t_y: -25%, $r_deg: 0, $s_x: 1, $s_y: 1);

                            line {
                                @extend %transition_holder;
                                @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                            }
                        }
                    }

                    &:hover {
                        box-shadow: 2.5vh 2.5vh 1.25vh -3.25vh rgba($black, .6);
                    }
                }

                &:focus {
                    box-shadow: none;
                }

                &:not(.collapsed) {
                    .hamburger {
                        svg {
                            g {
                                @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: -30%, $t_y: -25%, $r_deg: 0, $s_x: 1, $s_y: 1);
                            }
                        }

                        .one {
                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 45deg, $s_x: 1, $s_y: 1);
                            transform-origin: 20% 25%;
                        }

                        .three {
                            @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: -45deg, $s_x: 1, $s_y: 1);
                            transform-origin: 20% 25%;
                        }
                    }
                }
            }

            .navbar-collapse {
                .navbar-nav {
                    .nav-item {
                        .logo {
                            margin: 0 0 0 5vh;

                            img {
                                @include _dimensions($width: '', $height: 3vh);
                            }
                        }

                        form {
                            position: relative;

                            &::before {
                                position: absolute;
                                content: '';
                                display: inline-block;
                                background: $black;
                                @include _dimensions($width: 100%, $height: .25vh);
                                @include _transform($top: 100%, $left: '', $bottom: '', $right: 0, $t_x: 0, $t_y: -100%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                @extend %transition_holder;
                            }

                            ._searchGroup {
                                position: relative;
                                cursor: pointer;
                                @include _dimensions($width: 10vh, $height: 10vh);
                                @extend %transition_holder;

                                ._formLabel {
                                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 0, $s_y: 0);
                                    color: $white;

                                    ._formControl {
                                        position: absolute;
                                        background: $black;
                                        color: $whiteLite;
                                        padding: 0 10vh 0 .75rem;
                                        margin: 0;
                                        transform-origin: right center;
                                        @include _transform($top: 50%, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 0, $s_y: 0);
                                    }

                                    label {
                                        @include _transform($top: 5vh, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    }

                                    &>._formControl:focus~label,
                                    &>._formControl:not(:placeholder-shown)~label,
                                    &>._formControl-plaintext~label,
                                    &>.form-select~label {
                                        @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: .85, $s_y: .85);
                                    }
                                }

                                ._searchButton {
                                    position: absolute;
                                    border-radius: 100%;
                                    cursor: pointer;
                                    border: .5vh solid $black;
                                    @include _dimensions($width: 2.5vh, $height: 2.5vh);
                                    @include _transform($top: 50%, $left: '', $bottom: '', $right: 5vh, $t_x: 50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                    @extend %transition_holder;

                                    &::after {
                                        content: '';
                                        box-sizing: border-box;
                                        position: absolute;
                                        display: block;
                                        transform-origin: left;
                                        background: $black;
                                        @include _dimensions($width: 100%, $height: .5vh);
                                        @include _transform($top: 100%, $left: 100%, $bottom: '', $right: '', $t_x: 25%, $t_y: 25%, $r_deg: 45deg, $s_x: 1, $s_y: 1);
                                        @extend %transition_holder;
                                    }

                                    &._formClear {
                                        border: none !important;
                                        @include _transform($top: 50%, $left: '', $bottom: '', $right: 2.5vh, $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);

                                        &::after {
                                            content: '';
                                            box-sizing: border-box;
                                            position: absolute;
                                            display: block;
                                            transform-origin: center;
                                            background: $whiteLite;
                                            @include _dimensions($width: 100%, $height: .5vh);
                                            @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 45deg, $s_x: 1, $s_y: 1);
                                            @extend %transition_holder;
                                        }

                                        &::before {
                                            content: '';
                                            box-sizing: border-box;
                                            position: absolute;
                                            display: block;
                                            transform-origin: center;
                                            background: $whiteLite;
                                            @include _dimensions($width: 100%, $height: .5vh);
                                            @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: -45deg, $s_x: 1, $s_y: 1);
                                            @extend %transition_holder;
                                        }
                                    }
                                }

                                .list-group {
                                    background: $white;
                                    margin: 0;
                                    padding: 0;
                                    box-shadow: 1.25vh 1.25vh 4.5vh -2.5vh rgba($black, .5);
                                    @include _dimensions($width: 100%, $height: '');

                                    &-item {
                                        position: relative;
                                        margin: 0;
                                        padding: 1vh 2vh;
                                        font-size: .9rem;
                                        font-weight: 400;
                                        line-height: 1.25;
                                        cursor: pointer;
                                        @include _dimensions($width: 100%, $height: 5.75vh);

                                        svg {
                                            font-size: 2vh;
                                            color: rgba($black, .25);
                                        }

                                        &:hover {
                                            background: $hoverGray;
                                        }
                                    }
                                }

                                &.focused {
                                    @include _dimensions($width: 50vh, $height: '');

                                    ._formLabel {
                                        @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);

                                        ._formControl {
                                            @include _dimensions($width: 100%, $height: '');
                                            @include _transform($top: 50%, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        }

                                        label {
                                            color: $black;
                                        }
                                    }

                                    ._searchButton {
                                        border: .5vh solid $whiteLite;

                                        &::after {
                                            background: $whiteLite;
                                        }
                                    }

                                    .list-group {
                                        overflow-y: auto;
                                        max-height: 46vh;
                                    }
                                }
                            }

                            &:hover {
                                &::before {
                                    @include _dimensions($width: 50vh, $height: '');
                                }
                            }
                        }

                        .dropdown {
                            .dropdown-toggle {
                                span {
                                    position: relative;
                                    fill: $black;
                                    stroke: $black;
                                    color: $black;
                                    cursor: pointer;
                                    @include _dimensions($width: 10vh, $height: 10vh);
                                    @extend %transition_holder;

                                    svg {
                                        cursor: pointer;
                                        font-size: 2.5vh;
                                        @extend %transition_holder;
                                    }

                                    .hover_effect {
                                        position: absolute;
                                        display: block;
                                        border-radius: 100%;
                                        margin: 0;
                                        background-color: $blackFaded;
                                        z-index: -1;
                                        transform-origin: center;
                                        @include _dimensions($width: 0, $height: 0);
                                        @include _transform($top: 50%, $left: 50%, $bottom: '', $right: '', $t_x: -50%, $t_y: -50%, $r_deg: 0, $s_x: 1, $s_y: 1);
                                        @extend %transition_holder;
                                    }

                                    &:hover {
                                        .hover_effect {
                                            @include _dimensions($width: 7.5vh, $height: 7.5vh);
                                        }

                                        svg {
                                            fill: $white;
                                            stroke: $white;
                                            color: $white;
                                        }
                                    }
                                }

                                &::after {
                                    display: none;
                                }
                            }

                            .dropdown-menu {
                                position: absolute;
                                box-shadow: 1.25vh 1.25vh 4.5vh -2.5vh rgba($black, .5);
                                margin: 0;
                                @include _transform($top: 10vh, $left: unset, $bottom: unset, $right: 0, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                @extend %transition_holder;
                            }
                        }
                    }
                }
            }
        }
    }
}