@mixin _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1) {
    top: #{$top};
    left: #{$left};
    bottom: #{$bottom};
    right: #{$right};
    transform: translate(#{$t_x}, #{$t_y}) rotate(#{$r_deg}) scaleX($s_x) scaleY($s_y);
}

@mixin _dimensions($width: '', $height: '') {
    width: #{$width};
    height: #{$height};
}

@mixin _transitions($property: '', $duration: '', $timing: '', $delay: '') {
    transition-property: #{$property};
    transition-duration: #{$duration};
    transition-timing-function: #{$timing};
    transition-delay: #{$delay};
}
