section {
    position: relative;
    overflow: hidden;

    &._s1 {
        div {
            @include _dimensions($width: 100%, $height: calc(48vh + 2 * 1.05em));

            h1 {
                font-size: 24vh;
                line-height: 1.05;
                font-weight: 600;
                margin: 0 10vh;

                &:first-child {
                    margin: 0 0 0 10vh;
                    color: $pink;
                }

                .cursor {
                    animation: blink-caret .5s infinite;
                }
            }

            &::before {
                position: absolute;
                content: '';
                // background: url('../_images/Plant-cropping.svg') no-repeat;
                background-size: contain;
                background-position: right;
                @include _dimensions($width: 30%, $height: 60%);
                @include _transform($top: 5vh, $left: '', $bottom: '', $right: 5vh, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
            }
        }
    }

    &._s2 {
        h1 {
            text-align: center;
            font-size: 10vh;
            line-height: 1.05;
            font-weight: 600;
            margin: 0;
        }

        .col {
            position: relative;
            padding: 5vh 20vh;

            .card {
                background: $sectionBackground;
                box-shadow: none;
                margin: 2vh;
                @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');

                &-body {
                    margin: 0 2.5vh;

                    svg {
                        fill: rgba($blue, .75);
                        stroke: rgba($blue, .75);
                        color: rgba($blue, .75);
                        margin: 0 5vh 0 0;
                        @include _dimensions($width: 7.5vh, $height: 7.5vh);
                    }

                    .description {
                        position: relative;
                        font-size: 4vh;
                        color: $black;
                    }

                    .foot {
                        position: relative;
                        color: rgba($black, .5);
                        font-size: 1.95vh;
                    }
                }

                &:hover {
                    background: $whiteFaded;
                    box-shadow: 0 0 4.5vh -2.5vh rgba($black, .5);
                }
            }
        }
    }

    &._s3 {
        padding: 0 10vh;

        h1 {
            margin: 0;
            padding: 0 0 10vh 0;
        }

        ._sliderTestimonials {
            position: relative;

            .slick-slider {
                position: relative;

                .slick-list {
                    .slick-track {
                        .slick-slide {
                            &>div {
                                .card {
                                    background: none;
                                    margin: 0;
                                    padding: 2vh;
                                    @include _dimensions($width: '', $height: 36vh);

                                    &-body {
                                        position: relative;
                                        background: $hoverGray;
                                        padding: 0;
                                        overflow: hidden;
                                        @include _dimensions($width: '', $height: 100%);

                                        form {
                                            @include _dimensions($width: '', $height: 100%);

                                            &>svg {
                                                fill: rgba($blue, .75);
                                                stroke: rgba($blue, .75);
                                                color: rgba($blue, .75);
                                                margin: 1vh 0 1vh 2vh;
                                                @include _dimensions($width: 7.5vh, $height: 7.5vh);
                                            }

                                            .firstPhrase {
                                                font-size: 2.5vh;
                                                margin: 1vh 0 0 2vh;
                                            }
                                            
                                            ._footerInformation {
                                                padding: 1vh 2vh;
                                                z-index: 1;
                                                @include _dimensions($width: 100%, $height: '');

                                                p {
                                                    margin: 0;
                                                }

                                                ._author {
                                                    flex: 1;

                                                    p {
                                                        margin: 0;
            
                                                        &:first-of-type {
                                                            color: $black;
                                                            font-size: 2vh;
                                                        }
            
                                                        &:not(:first-of-type) {
                                                            color: rgba($black, .5);
                                                            font-size: 1.75vh;
                                                        }
                                                    }
                                                }

                                                ._upvotes,
                                                ._downvotes {
                                                    text-align: -webkit-right;
                                                    font-size: 2vh;
                                                    margin: 0 0 0 2.5vh;

                                                    svg {
                                                        padding: 0 0 0 .5vh;
                                                    }
                                                }
                                            }
                                        }

                                        &::before {
                                            position: absolute;
                                            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */
                                            background: lighten($color: $blue, $amount: 2);
                                            /* Old browsers */
                                            background: -moz-linear-gradient(-45deg, lighten($color: $blue, $amount: 2) 0, lighten($color: $blue, $amount: 0) 99%);
                                            /* FF3.6-15 */
                                            background: -webkit-linear-gradient(-45deg, lighten($color: $blue, $amount: 2) 0, lighten($color: $blue, $amount: 0) 99%);
                                            /* Chrome10-25, Safari5.1-6 */
                                            background: linear-gradient(135deg, lighten($color: $blue, $amount: 2) 0, lighten($color: $blue, $amount: 0) 99%);
                                            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                            content: '';
                                            opacity: 0;
                                            @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                                            @include _dimensions($width: 100%, $height: 100%);
                                            @include _transitions($property: 'all', $duration: .25s, $timing: 'ease', $delay: '');
                                        }

                                        &:hover {
                                            &::before {
                                                opacity: .4;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            ._shadowIndex {
                position: absolute;
                opacity: .1;
                margin: 0;
                font-size: 20vh;
                line-height: 20vh;
                font-family: 'Abril Fatface', cursive;
                font-weight: bold;
                color: lighten($color: $blue, $amount: 2);
                white-space: nowrap;
                z-index: 0;
                @include _transform($top: 0, $left: '', $bottom: '', $right: 0, $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                @include _dimensions($width: fit-content, $height: fit-content);

                p {
                    margin: 0;
                }
            }
        }
    }

    &._s4 {
        position: relative;
        grid-template-rows: 45% calc(55% - 1vh);
        background: radial-gradient(circle at top left, $blue 0, $blue 50%);

        .letter-grid {
            position: absolute;
            overflow: hidden;
            opacity: .4;
            @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
            @include _dimensions($width: 100%, $height: 100%);

            span {
                font-size: 10px;
                padding: 5px;
                background: transparent;
                color: rgba($black, .25);
                display: table;
                float: left;
                opacity: 0;
                text-transform: uppercase;
                user-select: none;
                visibility: hidden;
                @include _dimensions($width: 30px, $height: 30px);

                &:nth-child(3n+1) {
                    color: darken($color: $blue, $amount: 20);
                    font-weight: bold;
                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 45deg, $s_x: 1, $s_y: 1);
                }

                &:nth-child(6n+1) {
                    @include _transform($top: '', $left: '', $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: -45deg, $s_x: 1, $s_y: 1);
                }
            }

            &.js-show-letters {
                span {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        .g-col-12 {

            .before {
                background: url('../_images/b_white..svg') no-repeat center;
                position: absolute;
                @include _transform($top: 0, $left: 0, $bottom: '', $right: '', $t_x: 0, $t_y: 0, $r_deg: 0, $s_x: 1, $s_y: 1);
                @include _dimensions($width: 50%, $height: 50%);
            }

            .g-col-4,
            .g-col-8 {
                position: relative;
                box-shadow: 0 .35vh 3.25vh rgba($black, .25);
                padding: 0;
                margin: 0 2.5vh;
                background: $white;
            }

            .g-col-4 {
                div {
                    position: relative;
                    margin: 0 0 1.5vh 0;

                    &:first-of-type {
                        font-weight: 600;
                        margin: 0 0 4vh 0;
                    }

                    &:not(:first-of-type) {
                        @include _dimensions($width: 80%, $height: '');
                    }

                    svg {
                        margin: 0 2.5vh;
                        color: $blue;
                        @include _dimensions($width: 2.5vh, $height: 3vh);
                    }

                    span {
                        p {
                            margin: 0;
                            font-size: 2.25vh;
                            line-height: 3vh;
                        }
                    }
                }
            }

            .g-col-8 {
                form {
                    grid-template-rows: auto auto 1fr auto;
                    margin: 2.5vh;
                    @include _dimensions($width: calc(100% - 5vh), $height: calc(100% - 5vh));
                }
            }
        }
    }
}
